<script type="text/javascript">
    RED.nodes.registerType('get-status',{
        category: 'ZeroTier One',
        color: '#a6bbcf',
        defaults: {
            server: { value: "", type: "zerotier-one" }
        },
        inputs: 1,
        outputs: 1,
        icon: "file.png",
        label: function() {
            return this.name || "get-status";
        }
    });
</script>

<script type="text/html" data-template-name="get-status">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>

    <div class="form-row">
        <label for="node-input-server"><i class="fa fa-tag"></i> Server</label>
        <input type="text" id="node-input-server">
    </div>
</script>

<script type="text/html" data-help-name="get-status">
    <p>Get status from ZeroTier One.</p>
</script>