<!-- Initialize UI -->
<script type="text/javascript">
    RED.nodes.registerType('zerotier-one',{
        category: 'config',
        color: '#2475d9',
        defaults: {
            name: { value: "" },
            domain: { value: "my.zerotier.com", required: true },
            apiKey: { value: "", required: true }
        },
        label: function() {
            return this.name || "zerotier-one";
        }
    });
</script>

<!-- Configuration UI -->
<script type="text/html" data-template-name="zerotier-one">
    <div class="form-row">
        <label for="node-config-input-server"><i class="fa fa-tag"></i> Server</label>
        <input type="text" id="node-config-input-name" placeholder="Server">
    </div>

    <div class="form-row">
        <label for="node-config-input-domain"><i class="fa fa-tag"></i> Domain</label>
        <input type="text" id="node-config-input-domain" placeholder="my.zerotier.com">
    </div>

    <div class="form-row">
        <label for="node-config-input-apiKey"><i class="fa fa-tag"></i> API Key</label>
        <input type="text" id="node-config-input-apiKey" placeholder="API Key">
    </div>
</script>

